@model Shelter.Shared.Animal;

@{
  ViewData["Title"] = Model.Name;
}

<table>
  <tr>
    <td style="font-weight: bold">Name</td>
    <td>@Model.Name</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Race</td>
    <td>@Model.DateOfBirth</td>
  </tr>
  <td><a asp-controller="Shelter" asp-action="index">Go back</a></td>
</table>